.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*font-size: calc(10px + 2vmin);*/
  /*color: white;*/
}
.
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.head-tag{
  color: white;
  font-size: 20px;
  letter-spacing: 0.5rem;
}
.input-group{
  margin-top: 2%;
}
.input-field{
  margin-left: 40px!important;
}
.table-div{
  margin-top:2%;
  display: flex;
  justify-content: center;
}
.add-user{
  margin-top: 40px;
}

:root {
  --outer-shadow:
          0 0 0.1vw 0.1vw #e0f7fa,
          0 0 0.1vw 0.1vw #00e5ff,
          0 0 1vw 0.1vw #26c6da;
  --inner-shadow:
          inset 0 0 0.1vw 0.4vw #e0f7fa,
          inset 0 0 0.4vw 0.6vw #00e5ff,
          inset 0 0 1vw 0.4vw #26c6da;
  --all-shadow:
          0 0 0.1vw 0.4vw #e0f7fa,
          0 0 0.4vw 0.6vw #00e5ff,
          0 0 1vw 0.4vw #26c6da,
          inset 0 0 0.1vw 0.4vw #e0f7fa,
          inset 0 0 0.4vw 0.6vw #00e5ff,
          inset 0 0 1vw 0.4vw #26c6da;
}
.add-userb {
  box-shadow: var(--outer-shadow);
}
.neon{
    box-shadow: var(--outer-shadow) !important;

}

@media only screen and (max-width: 768px) {
    .input-group {
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        padding: -2px;
        width: 92%;
    }
}
